<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="css/screen.css" rel="stylesheet" type="text/css" media="all">
  <link href="css/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" media="all">
  <title>Any good? - Check if a movie is any good!</title>
</head>
<body>
  <div id="container">
    <header>
      <h1>Any good?</h1>
      <h2>Check if a movie is any good!</h2>
    </header>

    <div id="main">
      <form action="/api/movies" id="search_movie">
        <label for="movie_name_input">Name:</label>
        <input id="movie_name_input" type="text" name="movie_name_input">
        <input id="movie_year_input" type="hidden" name="movie_year_input">
        <input type="submit" value="Search">
      </form>

      <div id="loading" style="display: none;">
        Loading...
      </div>

      <div id="result">

      </div>
    </div>

    <div class='movie'>
    </div>

    <footer>
      Built by <a href="http://www.github.com/mrnugget">Thorsten Ball</a> as a fun project!
      Fork this project on <a href="http://www.github.com/mrnugget/anygood">GitHub.com</a>
    </footer>
  </div>

  <script type="text/template" id="movie-template">
    <div class="movie">
      <h3>{{ name }}</h3>
    </div>
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="js/libs/jquery-ui-1.8.21.custom.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/libs/underscore-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/libs/backbone-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
