<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <link href="css/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" media="all">
  <%= css :application, :media => 'all' %>
  <title>Any good? - Check if a movie is any good!</title>
</head>
<body>
  <a href="https://github.com/mrnugget/anygood"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  <div id="anygood">
    <header>
      <h1>Any good?</h1>
    </header>

    <div id="main">
      <form action="/api/movies" id="search_movie">
        <input id="movie-name-input" type="text" name="movie-name-input" placeholder="Enter the name of a movie here...">
        <input id="movie-year-input" type="hidden" name="movie-year-input">
        <input type="submit" value="Search" class="button">
      </form>

      <div id="content">

      </div>
    </div>

    <footer>
      <p>
        Built by <a href="http://www.github.com/mrnugget">Thorsten Ball</a> as a fun project!
        Fork this project on <a href="http://www.github.com/mrnugget/anygood">GitHub.com</a>
      </p>
      <p>
      Powered by <a href="http://redis.io/">Redis</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>,
      <a href="http://www.heroku.com">Heroku</a> and
      <a href="http://developer.rottentomatoes.com/">Rotten Tomatoes API</a>.
      </p>
      <p>
      It also uses the <a href="https://www.themoviedb.org/">The Movie Database API</a>, but is not endorsed or certified by TMDb.
      </p>
    </footer>
  </div>

  <script type="text/template" id="500-template">
    <div class="error 500">
      <h3>Sorry!</h3>
      Something went wrong!
    </div>
  </script>

  <script type="text/template" id="loading-template">
    <div class="loading">
      <div class="spinner">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
        <div class="bar7"></div>
        <div class="bar8"></div>
        <div class="bar9"></div>
        <div class="bar10"></div>
        <div class="bar11"></div>
        <div class="bar12"></div>
      </div>
      Loading movie information and ratings...
    </div>
  </script>

  <script type="text/template" id="add-movie-template">
    <div class="not-valid" style="display: none;">
      You have to specify the name and the year of the movie.
    </div>
    <form action="/api/search" id="add-movie" method="post">
      <input id="new-movie-name" type="text" name="name" placeholder="Enter the name of a movie here...">
      <input id="new-movie-year" type="text" name="year" placeholder="and the year.">
      <input type="submit" value="Add this movie">
    </form>
  </script>

  <script type="text/template" id="add-movie-success-template">
    <div id="add-movie-success">
      <h3>Thanks!</h3>
      <p>Thanks for making this page better! The following movie has been added to the index:</p>
      <p class="just-added"><a href="#movies/{{= year }}/{{= name.split(' ').join('_') }}">{{= name}} ({{=year}})</a></p>
    </div>
  </script>

  <script type="text/template" id="no-search-result-template">
    <div id="no-search-result">
      <h3>No Search Results</h3>
      <p>The movie you are looking for could not be found in the movie index.</p>

      <div class="add-to-index">
        <h3>Add a movie to the index!</h3>
        <p>You can help! If you specify the exact name and the release year of the movie, it will get added to the index!</p>
        <div class="add-to-index-form">
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="search-result-template">
    <div class="search-result">
      <h3>Search Results:</h3>
      <ul>
      {{ $.each(movies, function(index, movie) { }}
        <li><a href="#movies/{{= movie.year }}/{{= movie.name.split(' ').join('_') }}" class="search-result">{{= movie.name}} ({{=movie.year}})</a></li>
      {{ }); }}
      </ul>
      <div class="add-to-index">
        <h3>Not what you're looking for?</h3>
        <p>You can help! If you specify the exact name and the release year of the movie, it will get added to the index!</p>
        <div class="add-to-index-form">
        </div>
      </div>
    </div>
  </script>

  <script type="text/template" id="movie-template">
    <div class="movie">
      <h3>{{= name }} ({{= year }})</h3>
      <div class="info">
        <img src="{{= info.poster }}" alt="{{= name }}">
      </div>
      <div class="ratings">
        <div class="combined-rating">
          Combined Rating: {{= combined_rating}}/10
        </div>
        {{ $.each(ratings, function(index, rating) { }}
          {{ if (rating.error) { }}
            <div class="rating-error">
              <h4>{{= rating.name}}</h4>
              {{= rating.error }}
            </div>
          {{ } else { }}
            <div class="rating {{= rating.ignored === true ? 'ignored' : '' }}" data-rating-index="{{= index}}">
              <h4>
                <a href="{{= rating.url}}">{{= rating.name}}</a>
                <a href="#" class="ignore-button">Click to exclude/include this rating</a>
              </h4>
              Rating: {{= rating.score }}/10
            </div>
          {{ } }}
        {{ }); }}
      </div>
    </div>
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <script src="js/libs/jquery-ui-1.8.21.custom.min.js"></script>
  <script src="js/libs/underscore-min.js"></script>
  <script src="js/libs/backbone-min.js"></script>
  <%= js :anygood %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33362190-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
