@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);

body {
  background: hsl(0, 0%, 95%);
}
header {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 0.5em;
  color: hsl(0, 40%, 40%);
  font-size: 3em;
}
footer {
  font-size: 0.8em;
  margin-top: 3em;
  text-align: center;
}
h1 {
  margin: 0;
  text-align: center;
}
a {
  color: hsl(0, 40%, 40%);
}
a:hover { 
  color: black;
}
#anygood {
  color: hsl(0, 0%, 36%);
  font-family: "Lucida Grande","Helvetica Neue",Helvetica,Arial,sans-serif;
  max-width: 56.25em;
  margin: 0 auto;
}
/* Main Form */
#search_movie {
  margin: 1em auto;
  text-align: center;
}
#movie-name-input {
  font-size: 1.5em;
  border: none;
  padding: 0.5em;
  width: 24em;
  -webkit-appearance: none;
}
#search_movie input[type=submit] {
  font-size: 1.5em;
}
/* Result Div */

#result {
  padding: 1em;
}

/* Spinner */
.loading {
  text-align: center;
  padding-top: 1em;
  -webkit-transition: all 0.3s ease-in;
}
div.spinner {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0.5em auto;
}

div.spinner div {
  width: 12%;
  height: 26%;
  background: hsl(0, 40%, 40%);
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}

/* Movie */
.movie {
  background: white;
  padding: 1em;
  -webkit-transition: all 0.3s ease-in;
}
.movie h3 {
  margin: 0;
  margin-bottom: 0.3em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: hsl(0, 40%, 40%);
  font-size: 2em;
}
.movie .info {
  float: left;
}
.movie .ratings {
  margin-left: 200px;
}
.movie .combined-rating {
  color: hsl(0, 0%, 20%);
  font-size: 1.4em;
  font-weight: bold;
}
.movie .ignore-button {
  font-size: 0.5em;
  color: hsla(0, 0%, 36%, 0.4);
  float: right;
}

.movie .ignored {
  color: hsla(0, 0%, 36%, 0.5);
}
.movie .ignored a {
  color: hsla(0, 40%, 40%, 0.5);
}

/* Utility classes and styling */
.hidden {
  visibility: hidden;
}
.movie:before,
.movie:after {
    content:"";
    display:table;
}
.movie:after {
    clear:both;
}
.movie {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.button {
  font-size: 2em;
  background: #C0C0C0;
  border: none;
  padding: 0.5em;
  -webkit-appearance: none;
}
.button:hover {
  background: hsl(0, 40%, 40%);
  color: hsl(0, 0%, 95%);
  -webkit-transition: all 0.3s ease-in;
}

/* jquery-ui styling */

.ui-autocomplete-loading {
  background: white url(/images/autocomplete-spinner.gif) no-repeat 95% !important;;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 0px; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 0px; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; }
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: hsl(0, 40%, 40%);
  color: hsl(0, 0%, 95%);
}
.ui-state-hover a,
.ui-state-hover a:hover {
  color: #212121;
  text-decoration: none;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px; }
